<div id="login_form">
  <%= errors_for @user %>

<div id='login' class='<%= 'hide' if params[:type] == 'register' %>' >
<%= form_for @user, :url => login_path do |f| %>
  <h3>Login</h3>

  <%= input_with_label f, :username %>
  <%= input_with_label f, :password %>
  <%= hidden_field_tag :type, 'login' %>

  <input type="submit" value="Login" class="btn btn-primary" />
<% end %>
</div>

<label class='seperator <%= 'hide' if params[:type] %>'>&nbsp;</label>

<div id='register' class='<%= 'hide' if params[:type] == 'login' %>'>
<%= form_for @user, :url => login_path do |f| %>
  <h3>Register</h3>

  <%= input_with_label f, :username %>
  <%= input_with_label f, :email %>
  <%= input_with_label f, :password %>
  <%= input_with_label f, :password_confirmation %>
  <%= hidden_field_tag :type, 'register' %>

  <input type="submit" value="Register" class="btn btn-success" />
<% end %>
</div>
<div class='clear' />
